<% if @infraestruturas.empty? %>

  <div class="restaurante-universitario">

    <div class="row">
      <div class="col s12">
        <div class="title-infraestrutura">
          <h5>Restaurante Universitário</h5>
        </div>
        <div>
          <p class="description-infraestrutura">Espaço destinado a oferecer almoço e jantar
            aos congressistas de segunda a sexta</p>
        </div>
      </div>
    </div>

    <div class="row little-photos">
      <div class="col s6 m4 l2">
        <%= image_tag('infraestrutura/estrutura2.jpg', class: 'responsive-img materialboxed') %>
      </div>
      <div class="col s6 m4 l2">
        <%= image_tag('infraestrutura/estrutura1.jpg', class: 'responsive-img materialboxed') %>
      </div>
    </div>

  </div>

  <div class="salas-de-aula">

      <div class="row">
        <div class="col s12">
          <div class="title-infraestrutrura">
            <h5>Salas de Aula</h5>
          </div>
          <div>
            <p class="description-infraestrutura">Espaço destinado para ministrar o conteúdo
              acadêmico aos congressistas</p>
          </div>
        </div>
      </div>

      <div class="row little-photos">
        <div class="col s6 m4 l2">
          <%= image_tag('infraestrutura/salaaula1.jpg', class: 'responsive-img materialboxed') %>
        </div>
        <div class="col s6 m4 l2">
          <%= image_tag('infraestrutura/salaaula2.jpg', class: 'responsive-img materialboxed') %>
        </div>
      </div>

</div>

  <div class="auditorio">

    <div class="row">
      <div class="col s12">
        <div class="title-infraestrutura">
          <h5>Auditório</h5>
        </div>
        <div>
          <p class="description-infraestrutura">Espaço onde será realizado a cerimônia de abertura,
            palestras e apresentações de trabalhos</p>
        </div>
      </div>
    </div>

    <div class="row little-photos">
      <div class="col s6 m4 l2">
        <%= image_tag('infraestrutura/estrutura5.jpg', class: 'responsive-img materialboxed') %>
      </div>
    </div>

  </div>

  <div class="coluni">

    <div class="row">
      <div class="col s12">
        <div class="title-infraestrutura">
          <h5>Alojamento</h5>
        </div>
        <div>
          <p class="description-infraestrutura">Bloco Ufasa, conhecido como bloco H, aonde será o alojamento em salas de aula,
            sendo necessário trazer colchão</p>
        </div>
      </div>
    </div>

    <div class="row little-photos">
      <div class="col s4 m3 l2">
        <%= image_tag('infraestrutura/estrutura6.jpg', class: 'responsive-img materialboxed') %>
      </div>
      <div class="col s4 m3 l2">
        <%= image_tag('infraestrutura/estrutura7.jpg', class: 'responsive-img materialboxed') %>
      </div>
      <div class="col s4 m3 l2">
        <%= image_tag('infraestrutura/estrutura9.jpg', class: 'responsive-img materialboxed') %>
      </div>
    </div>

  </div>

<% else %>
  <p> Aguarde! Em breve divulgaremos todas as informações sobre a estrutura que será disponibiliziada para você</p>
<% end %>
