<div class="container">
  <h1>Contato</h1>
  <div class="divider"></div>
  <%= simple_form_for @contato, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Não pode ficar em branco' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Enviar', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>