<div id="new-inscricao">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Pacotes</h1>
      </div>
    </div>
    <div class="divider"></div>

      <% if @pacotes.any? %>
        <% @pacotes.each do |pacote| %>
          <div class="pacote-inscricao">
            <div class="col s1"></div>
            <div class="col s10 pacote-inscricao">
              <h5 class="titulo-pacote"><%= pacote.nome %></h5>
              <p><%= pacote.descricao %></p>
              <div class="valores-pacote">

                <% if !(pacote.valor_lote_2 or pacote.valor_lote_3) %>
                  <div class="lote-inscricao">
                    <span><strong>Lote Único: </strong><%= number_to_currency(pacote.valor_lote_1) %></span>
                  </div>
                <% end %>

                <% if pacote.valor_lote_2 %>
                  <div class="lote-inscricao">
                    <span><strong>Lote 2: </strong><%= number_to_currency(pacote.valor_lote_2) %></span>
                  </div>
                <% end %>

                <% if pacote.valor_lote_2 %>
                  <div class="lote-inscricao">
                    <span><strong>Lote 3: </strong><%= number_to_currency(pacote.valor_lote_3) %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col s12">
            <p>Não há pacotes disponíveis</p>
          </div>
        </div>
      <% end %>

  </div>

</div>
</div>