<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Mostra Científica</h1>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12">
      <span style="font-size: 18px"><strong><%= link_to 'Download - Artigos Selecionados', download_artigos_selecionados_path, :target => "_blank" %></strong></span>

      <p>Faça o download do PDF com os artigos que foram selecionados</p>
    </div>
  </div>

  <div class="row">
      <div class="col s12">
        <span style="font-size: 18px"><strong><%= link_to 'Download - Edital', download_edital_path, :target => "_blank" %></strong></span>

        <p>Faça o download do edital</p>
      </div>
  </div>
  <div class="row">
      <div class="col s12">
        <span style="font-size: 18px"><strong><%= link_to 'Download - Formulário', download_formulario_path %></strong></span>

        <p>Submissão de artigos até o dia 04/12.
          Faça o download do formulário e envie o preenchido para o email <strong style="color: #1b5e20"> academico@coneeagri.com.br</strong></p>
      </div>
  </div>
  <div class="row">
    <div class="col s12">
      <span style="font-size: 18px"><strong><%= link_to 'Download - Modelo do Resumo', download_resumo_extendido_path, :target => "_blank" %></strong></span>

      <p>Faça o download do modelo do resumo do formato de trabalho</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <span style="font-size: 18px"><strong><%= link_to 'Download - Modelo de banner', download_modelo_banner_path, :target => "_blank" %></strong></span>

      <p>Faça o download do modelo de Banner</p>
    </div>
  </div>

</div>